Tutorial: http://pandas.pydata.org/pandas-docs/stable/10min.html

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Object Creation

Create a series

In [11]:
s = pd.Series([10, 33, 75, np.nan, 106, 8])

In [30]:
s

0     10.0
1     33.0
2     75.0
3      NaN
4    106.0
5      8.0
dtype: float64

Create a DataFrame by passing a numpy array w/datetime index & labeled columns

In [31]:
dates = pd.date_range('20170608', periods=16) ##, tz='Africa/Kampala')
#pd.date_range?

In [32]:
dates

DatetimeIndex(['2017-06-08', '2017-06-09', '2017-06-10', '2017-06-11',
               '2017-06-12', '2017-06-13', '2017-06-14', '2017-06-15',
               '2017-06-16', '2017-06-17', '2017-06-18', '2017-06-19',
               '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23'],
              dtype='datetime64[ns]', freq='D')

In [39]:
# create a dataframe here
# pd.DataFrame? pd.DataFrame(self, data=None, index=None, columns=None, dtype=None, copy=False)
df = pd.DataFrame(np.random.randn(16,5), index=dates, columns=list('ABCDE'))  #data dims match index: 16==16 | cols= 3=='ABC'

In [40]:
df

                   A         B         C         D         E
2017-06-08  0.801781  1.136717  1.188838 -0.402120 -0.235515
2017-06-09  0.372936 -1.435038 -1.286853  0.831206 -1.135913
2017-06-10  0.187560  0.460868 -1.805518  0.582420  0.399372
2017-06-11  2.088195  0.691398 -0.261565 -0.139224 -0.487922
2017-06-12  1.244276  1.209600  0.033265  1.376887  2.805198
2017-06-13  0.036693  1.028335 -0.196918  0.335599 -0.255349
2017-06-14  0.230790  0.280319 -0.289356  0.279247  1.028231
2017-06-15  1.853709  0.300233  2.032685  0.660566 -0.946793
2017-06-16  1.214562  0.474831 -1.545191  2.401952  1.478247
2017-06-17  0.432238  0.779668  1.082635 -1.632081 -0.745487
2017-06-18  0.738403  1.252009 -0.337800 -1.047032  1.601744
2017-06-19  0.769901  0.513152  1.930359  0.979312 -0.520222
2017-06-20 -0.735336 -1.275757 -0.096173 -0.056418 -1.176870
2017-06-21 -0.602025 -0.140642  0.879304 -0.196021  1.367677
2017-06-22  1.492279  1.176970 -0.667756  1.122184 -0.951567
2017-06-23  1.275898 -1.687746  1.828858 -1.437563  0.287470

Create a second DF - passing dict of objects

In [43]:
df2 = pd.DataFrame({ 'A' : 1.,
                        'B' : pd.Timestamp('20130102'),
                         'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                         'D' : np.array([3] * 4,dtype='int32'),
                         'E' : pd.Categorical(["test","train","test","train"]),
                         'F' : 'foo' })

In [44]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [46]:
df2.dtypes     #detects type of data

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [51]:
# If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled.
# Here’s a subset of the attributes that will be completed:
dft.?

SyntaxError: invalid syntax (<ipython-input-51-f33bfe1f6a59>, line 3)